In [1]:
print("hello I am Sandeep Singh Rana")

hello I am Sandeep Singh Rana

In [2]:
a=110
name="ravi"
salary=2700
print(a)
print(name)
print(salary)

110
ravi
2700

In [3]:
name="Micheal Jackson"
print(name)

Micheal Jackson

In [4]:
print(name[0])
print(name[6])
print(name[-1])
print(name[-15])

M
l
n
M

In [5]:
print(name[0:4])

Mich

In [6]:
print(name[0:12])

Micheal Jack

In [7]:
print(name[::2])

McelJcsn

In [8]:
print(name[0:5:2])

Mce

In [11]:
Statement=name+"is the best"
print(Statement)

Micheal Jacksonis the best

In [12]:
print(3*"Micheal Jacksonis")

Micheal JacksonisMicheal JacksonisMicheal Jacksonis

In [13]:
print("Micheal Jacksonis\n is the best")

Micheal Jacksonis
 is the best

In [14]:
print("Micheal Jacksonis\t is the best")

Micheal Jacksonis	 is the best

In [15]:
print("Micheal Jacksonis\\is tthe best")

Micheal Jacksonis\is tthe best

In [18]:
print(r"Micheal Jacksonis\ is the best")

Micheal Jacksonis\ is the best

In [19]:
A = "Thriller is the sixth studio album"
print("before upper:",A)

before upper: Thriller is the sixth studio album

In [20]:
B=A.upper()
print("after upper:",B)

after upper: THRILLER IS THE SIXTH STUDIO ALBUM

In [21]:
A="Micheal Jacksonis is the best"
B=A.replace('Michael', 'Janet')
print(B)

Micheal Jacksonis is the best

In [22]:
Name = "Michael Jackson"
Name.find('el')
Name.find('Jack')
Name.find('Jasdfasdasdf')
A = "1"
B = "2"
C = A + B
print(C)

12

In [23]:
tuple1=("disko",10,1.2)
print(tuple1)

('disko', 10, 1.2)

In [24]:
print(tuple1[1])

10

In [25]:
print(tuple1[2])

1.2

In [26]:
print(tuple1[0])

disko

In [27]:
print(tuple1[-1])

1.2

In [28]:
tuple2=tuple1+("hard disko",10)
print(tuple2)

('disko', 10, 1.2, 'hard disko', 10)

In [29]:
tuple3=tuple1+tuple2
print(tuple3)

('disko', 10, 1.2, 'disko', 10, 1.2, 'hard disko', 10)

In [30]:
print(tuple3[0:3])

('disko', 10, 1.2)

In [31]:
len(tuple2)
print(len)

<built-in function len>

In [32]:
Rating=(0, 9, 6, 5, 10, 8, 9, 6, 2)
RatingsSorted=sorted(Rating)
print(RatingsSorted)

[0, 2, 5, 6, 6, 8, 9, 9, 10]

In [33]:
L=['Micheal Jacksonis',10.1,1983]
print(L)

['Micheal Jacksonis', 10.1, 1983]

In [34]:
print('the same element using negative and positive indexing:\n Postive:',L[1],\
'\n Negative:' , L[-2] )

the same element using negative and positive indexing:
 Postive: 10.1
 Negative: 10.1

In [36]:
print(L[2:1])

[]

In [37]:
L=['Micheal Jackson',10.1]
L.extend(['pop',10])
print(L)

['Micheal Jacksonis', 10.1, 'pop', 10]

In [38]:
L=['Micheal Jackson', 10.1]
L.append(['pop',10])
print(L)

['Micheal Jackson', 10.1, ['pop', 10]]

In [39]:
L.append(['a','b'])
print(L)

['Micheal Jackson', 10.1, ['pop', 10], ['a', 'b']]

In [40]:
A = ["disco", 10, 1.2]
print('Before change:', A)
A[0] = 'hard rock'
print('After change:', A)

Before change: ['disco', 10, 1.2]
After change: ['hard rock', 10, 1.2]

In [41]:
print('Before change:', A)
del(A[0])
print('After change:', A)

Before change: ['hard rock', 10, 1.2]
After change: [10, 1.2]

In [ ]:
num = int(input("Enter the number"))
if num%2==0:
    print("Number is even")

In [ ]:
age = int(input("Enter your age"))
if age>=18:
    print("You are eligible to vote")
else:
    print("sorry!! you have to wait!!")